body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgb(252, 144, 2);
}
body:hover{cursor: url("https://img.icons8.com/android/48/26e07f/leaf.png"), auto !important;}

button {
  cursor: inherit;
}