a,a:hover {
    color: whitesmoke

}
#footer{
    position: 'absolute' !important;
    height:60px;
    background-color: rgb(79, 245, 79);
    border-top: 5px solid yellow;
    
    color: black;
}

.spacer {
    margin-bottom: 10px;
}

.fa-react{
    margin-right: 5px;
}

.fa-github {
    margin-left: 5px;
}