.movement {
    position: absolute;
    height: 70px;
    left: 21px;
    animation-name: levitate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transition: ease-in-out
}

.air {
  height: 50px;
  width: 500px;
  
}

.shadow {
 position: absolute;
  left: 20px;  
  height: 5px;
  width: 20px;
  /* display: flex; */
  animation-name: shadow;
  animation-duration: 2s;

  /* justify-content: space-evenly; */
  background: rgb(75, 75, 75);
  opacity:0.5;
  border-radius: 50%;
  animation-iteration-count: infinite;
  transition: ease-in-out;

}
@keyframes shadow {
  0% {
    width: 64px;
    height: 4px;
  }
  100% {
    width: 68px;
    height: 6px;
  }
}

@keyframes levitate {
    0% {
        /* left: 0px; */
        top: 1px;
    }
    100% {
      
        /* left: 0px; */
        top: 3px;
    }
  }