* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.containerCube {
  /* z-index: 5; */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 4vh;
  
}
.containerCube .cube-container {
  perspective: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.containerCube .cube-container .cube {
  transition: transform 2s ease-in;
  transform-style: preserve-3d;
  width: 50px;
  height: 50px;
  margin: 20px 0px;
  }
.containerCube .cube-container .cube.cube {
  animation: horizontal-spin 5s infinite ease-in-out;
  animation-delay: 8s;
}
.containerCube .cube-container .cube.cube2 {
  animation: horizontal-spin 4s infinite ease-in-out;
  animation-delay: 20s;
}



.containerCube .cube-container .cube .box {
  width: 100%;
  height: 100%;
  position: absolute;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}
.containerCube .cube-container .cube .box.front {
  background: #40dc48;
  transform: translateZ(-25px);
}
.containerCube .cube-container .cube .box.box2.front {
  background: #40b9dc;
}
.containerCube .cube-container .cube .box.back {
  background: #43df3d;
  transform: translateZ(-75px) rotateY(180deg);
}
.containerCube .cube-container .cube .box.box2.back {
  background: #3dbadf;
  transform: translateZ(-75px) rotateX(-180deg);
}
.containerCube .cube-container .cube .box.top {
  background: #60f875;
  transform: rotateX(-90deg) translateY(20px);
  transform-origin: top center;
}
.containerCube .cube-container .cube .box.box2.top {
  background: #5acaec;
  transform: rotateX(90deg) translateY(-75px);
}
.containerCube .cube-container .cube .box.bottom {
  background: #82f488;
  transform: rotateX(90deg) translateY(-20px);
  transform-origin: bottom center;
}
.containerCube .cube-container .cube .box.box2.bottom {
  background: #82daf4;
  transform: rotateX(-90deg) translateY(75px);
}
.containerCube .cube-container .cube .box.left {
  background: #a3f9a7;
  transform: rotateY(270deg) translateX(-75px);
  transform-origin: center left;
}
.containerCube .cube-container .cube .box.box2.left {
  background: #a3e5f9;
}
.containerCube .cube-container .cube .box.right {
  background: #67f77a;
  transform: rotateY(-270deg) translateX(75px);
  transform-origin: top right;
}
.containerCube .cube-container .cube .box.box2.right {
  background: #67d6f7;
}

@keyframes horizontal-spin {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(360deg);
  }
}
@keyframes vertical-spin {
  from {
    transform: rotateX(0);
  }
  to {
    transform: rotateX(360deg);
  }
}
