.progressBar0 {
    /* for class zeroPercent */
    color: rgb(0, 0, 0);
    max-width: 80%;
    margin: 10px auto;
    padding: 20px;
    /* display: block;
    position: absolute; */
    background-image: url("../images/papyrus.png");
    border-radius: 6px;
    box-shadow: 5px 5px 20px black;
    box-shadow: 5px 5px 20px black;
}

.progressBar1 {
    -webkit-text-stroke: 1px black;
    color: rgb(79, 245, 79);
    max-width: 80%;
    margin: 10px auto;
    padding: 20px;
    /* display: block;
    position: absolute; */
    background-image: url("../images/what-the-hex.png");
    border-radius: 6px;
    border-color: 5px 5px 20px black;
    box-shadow: 5px 5px 20px white;
    animation-name: progressBarOne;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}



@keyframes progressBarOne {
    0% {box-shadow: 5px 5px 20px rgb(255, 251, 0, .6)}
    6% {box-shadow: 5px 5px 20px rgb(79, 245, 79, .6)}
    12% {box-shadow: 5px 5px 20px rgb(255, 251, 0, .6)}
    18% {box-shadow: 5px 5px 20px rgb(37,139, 235, .6)}
    25% {box-shadow: 5px 5px 20px rgb(255, 251, 0, .6)}
    31% {box-shadow: 5px 5px 20px rgba(79,245,79, 0.6)}
    37% {box-shadow: 5px 5px 20px rgb(255,251,0, .6);}
    44% {box-shadow: 5px 5px 20px rgb(255, 255, 255, .8);}
    50% {box-shadow: 5px 5px 20px rgba(255, 251, 0, 0.6);}
    56% {box-shadow: 5px 5px 20px rgba(79, 245, 79, 0.6);}
    62% {box-shadow: 5px 5px 20px rgba(255, 251, 0, 0.6);}
    68% {box-shadow: 5px 5px 20px rgba(37, 139, 235, 0.6);}
    74% {box-shadow: 5px 5px 20px rgba(255, 251, 0, 0.6);}
    80% {box-shadow: 5px 5px 20px rgba(79, 245, 79, 0.6);}
    86% {box-shadow: 5px 5px 20px rgba(255, 251, 0, 0.6);}
    90% {box-shadow: 5px 5px 20px rgb(255, 255, 255, .8);}
    95% {box-shadow: 5px 5px 20px rgb(255, 251, 0, .6);}
    100% {box-shadow: 5px 5px 20px rgba(79, 245, 79, .6);}
}

#leaderContainer {
    padding: 10px;
}