.mandatory {
    font-weight: bolder;
}

.justanote {
    font-size: x-small;
    color: blue;
}

#doppelLink {
    color: rgb(255, 0, 0);
}

.title {
    display: flex;
    justify-content: center;
}

