.avatarbox {
   border-color: black;
   border-width: medium;
   border-style: solid;
   width: 80%;
    
    }

/* .Container{
   border-color: green;
   border-bottom: 10px;
   border-top: 10px;
} */
.spacingForStuff {
   margin: 0 10px;
}

.navfont {
   font-size: x-large;
   -webkit-text-stroke: 1px black;
   color: rgb(79, 245, 79);
 
}

.signOut {
   font-size: medium;
   -webkit-text-stroke: 1px black;
   color: rgb(79, 245, 79);
   /* text-align: center; */
   
}

.align {
   display: grid;
   justify-content:center;
}