.imgDiv {
  max-width: 60%;
  height: auto;
}

#nakedSprout {
  width: 200;
  height: auto;
}

/* @keyframes dropIn {
  0% { */
      /* left: 0px; */
      /* top: 0px; */
      /* transform: translate3d(0px, -150px, 0px); */
  /* }
  50% { */
     /* transform: translate3d(0px, 100px, 0px); */
  /* }
  99% { */
    /* transform: skewY(-20deg);
    transform: skewY(20deg);
    transform: skewY(-20deg);
    transform: skewY(20deg);
    transform: skewY(-20deg);
    transform: skewY(20deg); */
  /* }
  100% { */
            /* left: 0px; */
      /* top: 3px; */
      /* transform: translate3d(0px, 100px, 0px); */
  /* }
} */


.move-area{
  width: 100vw;
  height: 100vh;
  padding: 10% 45%;
}
.container {
  width: 100%;
}
.eye {
  position: relative;
  z-index: 3;
  display: inline-block;
  border-radius: 50%;
  height:50rem;
  width: 50rem;
  left:13rem;
  bottom: 5rem;
  margin: 5px;
  background: white;
  border: solid 1px black;
}
.eye:after { /*pupil*/
 position: absolute;
 bottom: 17px;
  right: 10px; 
  width: 10px;
  height: 10px;
  background: black;
  border-radius: 50%;
  content: " ";
}
/* JS:  $("body").mousemove(function(event) {
  var eye = $(".eye");
  var x = (eye.offset().left) + (eye.width() / 2);
  var y = (eye.offset().top) + (eye.height() / 2);
  var rad = Math.atan2(event.pageX - x, event.pageY - y);
  var rot = (rad * (180 / Math.PI) * -1) + 90;
  eye.css({
    '-webkit-transform': 'rotate(' + rot + 'deg)',
    '-moz-transform': 'rotate(' + rot + 'deg)',
    '-ms-transform': 'rotate(' + rot + 'deg)',
    'transform': 'rotate(' + rot + 'deg)'
  });
}); */